@use '~/shared/styles/colors' as c;
@use '~/shared/styles/mixins/input-style' as s;

.input-wrapper {
  @include s.input-style($font-size: 2rem);

  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;

  &.input-wrapper_error {
    border-color: c.$red;

    .input-wrapper__input {
      color: c.$red;
    }
  }

  .input-wrapper__input {
    min-width: 3.5rem;
    justify-self: stretch;
    align-self: stretch;
    flex: 1;
    border: none;
    background: transparent;
  }
}
