@use '~/shared/styles/colors' as c;
@use '~/shared/styles/mixins/input-style' as s;

.select {
  @include s.input-style();

  &.select-element-error {
    border-color: c.$red;
  }

  option {
    color: c.$dark-gray;
    background-color: c.$white;
  }
}
