@use '~/shared/styles/colors' as c;
@use '~/shared/styles/mixins/typography' as t;
@use '~/shared/styles/mixins/utilities' as u;

.sort-controls {
  display: flex;
  gap: 1.6rem;

  &__btn {
    height: 2.5rem;

    &[data-active='true'] {
      background-color: c.$blue-500;
      color: c.$white;
      border-color: c.$blue-500;

      &:hover {
        background-color: c.$blue-600;
        border-color: c.$blue-600;
      }

      &:focus {
        box-shadow: 0 0 0 3px rgba(c.$blue-600, 0.5);
      }
    }
  }
}
